#
#    Copyright (c) 2022 Project CHIP Authors
#    All rights reserved.
#
#    Licensed under the Apache License, Version 2.0 (the "License");
#    you may not use this file except in compliance with the License.
#    You may obtain a copy of the License at
#
#        http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
#

from ctypes import *
import chip.exceptions
import typing

_lib = None


class ErrorRange(enum.IntEnum):
    ''' The enum of chip::ChipError::Range
    '''
    SDK = 0x0
    OS = 0x1
    POSIX = 0x2
    LWIP = 0x3
    OPENTHREAD = 0x4
    PLATFROM = 0x5


class ErrorSDKPart(enum.IntEnum):
    ''' The enum of chip::ChipError::SDKPart
    '''
    CORE = 0
    INET = 1
    DEVICE = 2
    ASN1 = 3
    BLE = 4
    IM_GLOBAL_STATUS = 5
    IM_CLUSTER_STATUS = 6
    APPLICATION = 7


class PyChipError(ctypes.Structure):
    ''' The ChipError for Python library.

    We are using the following struct for passing the infomations of CHIP_ERROR between C++ and Python:

    ```c
    struct PyChipError
    {
        uint32_t mCode;
        uint32_t mLine;
        const char * mFile;
    };
    ```
    '''
    _fields_ = [('code', c_uint32), ('line', c_uint32), ('file', c_void_p)]

    def raise_on_error(self) -> None:
        if self.code != 0:
            raise self.to_exception()

    @property
    def is_success(self) -> bool:
        return self.code == 0

    @property
    def is_sdk_error(self) -> bool:
        return self.range == ErrorRange.SDK

    @property
    def range(self) -> ErrorRange:
        return ErrorRange((self.code >> 24) & 0xFF)

    @property
    def value(self) -> int:
        return (self.code) & 0xFFFFFF

    @property
    def sdk_part(self) -> ErrorSDKPart:
        if not self.is_sdk_error:
            return None
        return ErrorSDKPart((self.code >> 8) & 0x07)

    @property
    def sdk_code(self) -> int:
        if not self.is_sdk_error:
            return None
        return self.code & 0xFF

    def to_exception(self) -> typing.Union[None, chip.exceptions.ChipStackError]:
        if not self.is_success:
            return chip.exceptions.ChipStackError(self.code, str(self))

    def __str__(self):
        buf = create_string_buffer(256)
        FormatError(pointer(self), buf, 256)
        return buf.value.decode()

    def __eq__(self, other):
        if isinstance(other, int):
            return self.code == other
        if isinstance(other, PyChipError):
            return self.code == other.code
        if isinstance(other, chip.exceptions.ChipStackError):
            return self.code == other.err
        raise ValueError(f"Cannot compare PyChipError with {type(other)}")

    def __ne__(self, other):
        return not self == other

{% for type in type_alias %}
{{ RemovePrefix(type.name) }} = {{ type.type.c_type() }}
{% endfor %}

{% for struct in structs %}
{% if not struct.fields%}
class {{ RemovePrefix(struct.name) }}_ptr(c_void_p):
    pass
{% else %}
# TODO: Add {{ struct.name }}
{% endif %}
{% endfor %}

{% for func in function_ptrs %}
{{ RemovePrefix(func.name) }} = CFUNCTYPE({{ AsCType(func.ret) }}{% for arg in func.args %}, {{ AsCType(arg.type) }}{% endfor %})
{% endfor %}

{% for api in functions %}
def {{ RemovePrefix(api.name) }}({% for arg in api.args %}{% if not loop.first %}, {% endif %}{{ arg.name }}: {{ AsCType(arg.type)}}{% endfor %}) -> {{ AsCType(api.ret) }}:
    global _lib
    return _lib.{{ api.name }}({% for arg in api.args %}{% if not loop.first %}, {% endif %}{{ AsCType(arg.type) }}({{ arg.name }}){% endfor %})
{% endfor %}

def InitApi(lib):
    global _lib
    _lib = lib
{% for api in functions %}
    _lib.{{ api.name }}.argtypes = [{% for arg in api.args %}{% if not loop.first %}, {% endif %}{{ AsCType(arg.type) }}{% endfor %}]
    _lib.{{ api.name }}.restype = {{ AsCType(api.ret) }}
{% endfor %}
